html{
    height: 100%; /* Dzięki temu mamy gradient do samego dołu */
}

body{
    background-image: linear-gradient(90deg, #b89a49 0%, rgb(190, 73, 43) 100%);

    /* background-image: linear-gradient(red, white); */
    /* background-image: linear-gradient(to left,red, yellow); */
    /* background-image: linear-gradient(to right,red, yellow); */

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main{
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards{
    background-color: rgb(47,198,33);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.card1{
    width: 30%;
    height: 341px;
    background-color: burlywood;
}
.card2{
    width: 30%;
    height: 341px;
    background-color: cadetblue;
}
.card3{
    width: 30%;
    height: 341px;
    background-color: darkcyan;
}
.herobox1{
    flex: 2; /* Zamiast uzywac np width: 66%, można użyć flex, to coś w stylu ratio 2:1*/
}
.herobox2{
    flex: 1;
}
h1{
    font-size: 4rem;
    font-family: 'Playfair', serif;
    margin-bottom: 1.1rem;
}
p{
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
}
img{
    height: 99px;
    width: 150px;
}