html {
    background-image: linear-gradient(90deg, #b89a49 0%, rgb(190, 73, 43) 100%);
}
body {
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;

    /* background-image: linear-gradient(red, white); */
    /* background-image: linear-gradient(to left,red, yellow); */
    /* background-image: linear-gradient(to right,red, yellow); */

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
nav {
    /* Można by po prostu zrobić nav a i margin left, ale takie podejscie takie fajniejsze sie wydaje */
    display: flex;
    gap: 15px; /* Dodaj odstęp między przyciskami */
}
main{
    min-height: 300px;
    display: flex;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card1, .card2, .card3 {
    /* padding wewnetrzny dla diva:  */
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;

    width: 30%;
    min-height: 250px;
    background-size: cover;
    background-position: bottom; /* Zaczyna od dołu, jak utnie to góre zdjęcia */
    text-align: center;
    box-shadow: -1px 3px 6px rgba(0,0,0, 0.3);
}
.card1 {
    background-image: url(images/image-background-card1-b.jpg);
}
.card2 {
    background-image: url(images/image-background-card2-b.jpg);
}
.card3 {
    background-image: url(images/image-background-card3-b.jpg);
}
.herobox1{
    flex: 2; /* Zamiast uzywac np width: 66%, można użyć flex, to coś w stylu ratio 2:1*/
    padding-right: 70px;
}
.herobox2{
    flex: 1;
}
h1{
    font-size: 4rem;
    font-family: 'Playfair', serif;
    margin-bottom: 10px;
}
h2{
    font-size: 2rem;
    font-family: 'Playfair', serif;
    margin-bottom: 10px;
}
p{
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
}
.cards p{
    font-size: 0.8rem;
    line-height: 1.35rem;
}
i {
    font-size: 72px;
    padding-bottom: 20px; 
}
.btn {
    background-color: white;
    color: #BE4C2C;
    font-family: 'Playfair', serif;
    font-size: 1.125rem;
    padding: 10px 20px;
    
    /* Shadow :  */
    /* Shadow: x, y, rozmycie (blur), color
    /* -webkit-box-shadow: 0px 4px 7px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 7px -3px rgba(66, 68, 90, 1); */
    box-shadow: 0px 3px 5px rgba(0,0,0, 0.3);

    /* Margines: */
    display: inline-block;
    margin-top: 20px;

    /* Border radiusy: */
    border-radius: 3px;
    /* border-radius: 0 20px; */
    /* border-radius: 20px 0; */
    /* border-radius: 0 0 20px 0; */
}
.btn:hover{
    background-color: rgb(230,230,230);
    transition-duration: 200ms;
}
.nav-btn {
    border: 1px solid white;
    padding: 10px 10px;
    width: 7em;
    text-align: center;
}
.herobox2 img {
    border-radius: 5px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.flex-item{
    box-sizing: border-box;
    border: 1px solid lightgray;
    width: 47%;
    padding: 50px;
    min-height: 280px;
    margin-top: 50px;
}
/* Piewszy element */
/* .flex-item:first-child{
    border: 2px dotted lightgray;
} */
/* Co n element, tutaj co trzeci */
/* .flex-item:nth-child(3n){
    border: 2px dotted lightgray;
} */
/* Ostatni p tag w itemie flex-item */
.flex-item p:last-of-type{
    font-size: 0.8rem;
    padding-left: 30px;
}
/* Lista rozwijana w nav */
.dropdown-box {
    display: none;
    position: absolute;

    margin-left: -11px;
    margin-top: 11px;
}
.nav-btn:hover .dropdown-box{
    display: block;
    z-index: 1;
}
.dropdown-box .nav-btn {
    margin-top: -1px;
    background-color: white;
}
.dropdown-box .nav-btn a {
    color: #BE4C2C;
}

/* Contact html */
.main2 {
    min-height: 300px;
    padding-top: 40px;
    box-sizing: border-box;
}
.input-wrapper {
    margin-bottom: 20px;
}