html{
    height: 100%; /* Dzięki temu mamy gradient do samego dołu */
}

body{
    background-image: linear-gradient(90deg, #b89a49 0%, rgb(190, 73, 43) 100%);

    /* background-image: linear-gradient(red, white); */
    /* background-image: linear-gradient(to left,red, yellow); */
    /* background-image: linear-gradient(to right,red, yellow); */

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main{
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card1{
    width: 30%;
    min-height: 250px;
    background-image: url(images/image-background-card1-b.jpg);
    background-size: cover;
    background-position: bottom; /* Zaczyna od dołu, jak utnie to góre zdjęcia */
    text-align: center;
    padding-top: 10px;
}
.card2{
    width: 30%;
    background-image: url(images/image-background-card2-b.jpg);
    background-size: cover;
    background-position: bottom; /* Zaczyna od dołu, jak utnie to góre zdjęcia */
    text-align: center;
    padding-top: 10px;
}
.card3{
    width: 30%;
    background-image: url(images/image-background-card3-b.jpg);
    background-size: cover;
    background-position: bottom; /* Zaczyna od dołu, jak utnie to góre zdjęcia */
    text-align: center;
    padding-top: 10px;
}
.herobox1{
    flex: 2; /* Zamiast uzywac np width: 66%, można użyć flex, to coś w stylu ratio 2:1*/
    padding-right: 70px;
}
.herobox2{
    flex: 1;
}
h1{
    font-size: 4rem;
    font-family: 'Playfair', serif;
    margin-bottom: 10px;
}
h2{
    font-size: 2rem;
    font-family: 'Playfair', serif;
    margin-bottom: 10px;
}
p{
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
}
.cards p{
    font-size: 0.8rem;
    line-height: 1.35rem;
    margin: 0px 20px 10px 20px; /* top, right, bottom, left */
}
i {
    font-size: 72px;
    padding-top: 10px;
    padding-bottom: 20px;
}
a {
    color: white;
    text-decoration: none;
}